@charset 'UTF-8';

/*  ----------------- Color Utils ------------- */
.c-black-grey {
  color: #444;
}

.c-grey {
  color: #555;
}

.c-red {
  color: #c44537;
}

.c-purple {
  color: #ab47bc;
}

.c-success {
  color: #8bc34a;
}

.c-warning {
  color: #ffb300;
}

.c-info {
  color: #03a9f4;
}


.bg-grey {
  background-color: #f5f5f5;
}

.bg-white {
  background-color: #fff;
}

/*  ----------------- Background Color Utils ------------- */
.bg-trans {
  background-color: transparent
}

.bg-light {
  background-color: #fff
}

.bg-light,
.bg-light a {
  color: #7a878e
}

.bg-light a:hover,
.bg-light a:focus {
  color: #7a878e
}

.bg-gray-light {
  background-color: #f8f9fa
}

.bg-gray-light,
.bg-gray-light a {
  color: #7a878e
}

.bg-gray-light a:hover,
.bg-gray-light a:focus {
  color: #7a878e
}

.bg-gray {
  background-color: #e9eeef
}

.bg-gray,
.bg-gray a {
  color: #7a878e
}

.bg-gray a:hover,
.bg-gray a:focus {
  color: #7a878e
}

.bg-gray-dark {
  background-color: #cbd7da
}

.bg-gray-dark,
.bg-gray-dark a {
  color: #7a878e
}

.bg-gray-dark a:hover,
.bg-gray-dark a:focus {
  color: #7a878e
}

.bg-trans-light {
  background-color: rgba(255, 255, 255, 0.1)
}

.bg-trans-light,
.bg-trans-light a {
  color: inherit
}

.bg-trans-light a:hover,
.bg-trans-light a:focus {
  color: inherit
}

.bg-trans-dark {
  background-color: rgba(0, 0, 0, 0.1)
}

.bg-trans-dark,
.bg-trans-dark a {
  color: inherit
}

.bg-trans-dark a:hover,
.bg-trans-dark a:focus {
  color: inherit
}

.bg-primary {
  background-color: #25476a
}

.bg-primary,
.bg-primary a {
  color: #fff
}

.bg-primary a:hover,
.bg-primary a:focus {
  color: #fff
}

.bg-info {
  background-color: #03a9f4
}

.bg-info,
.bg-info a {
  color: #fff
}

.bg-info a:hover,
.bg-info a:focus {
  color: #fff
}

.bg-success {
  background-color: #8bc34a
}

.bg-success,
.bg-success a {
  color: #fff
}

.bg-success a:hover,
.bg-success a:focus {
  color: #fff
}

.bg-warning {
  background-color: #ffb300
}

.bg-warning,
.bg-warning a {
  color: #fff
}

.bg-warning a:hover,
.bg-warning a:focus {
  color: #fff
}

.bg-danger {
  background-color: #f44336
}

.bg-danger,
.bg-danger a {
  color: #fff
}

.bg-danger a:hover,
.bg-danger a:focus {
  color: #fff
}

.bg-mint {
  background-color: #26a69a
}

.bg-mint,
.bg-mint a {
  color: #fff
}

.bg-mint a:hover,
.bg-mint a:focus {
  color: #fff
}

.bg-purple {
  background-color: #ab47bc
}

.bg-purple,
.bg-purple a {
  color: #fff
}

.bg-purple a:hover,
.bg-purple a:focus {
  color: #fff
}

.bg-pink {
  background-color: #f06292
}

.bg-pink,
.bg-pink a {
  color: #fff
}

.bg-pink a:hover,
.bg-pink a:focus {
  color: #fff
}

.bg-eee {
  background-color: #ddd
}

.bg-eee,
.bg-eee a {
  color: #fff
}

.bg-eee a:hover,
.bg-eee a:focus {
  color: #fff
}


.bg-dark {
  background-color: #3a444e
}

.bg-dark,
.bg-dark a {
  color: #fff
}

.bg-dark a:hover,
.bg-dark a:focus {
  color: #fff
}