@charset "UTF-8";

/* ------------------ top ------------------ */
.mar-top-0 {
  margin-top: 0;
}

.mar-top {
  margin-top: 20px;
}

.mar-top-5 {
  margin-top: 5px;
}

.mar-top-10 {
  margin-top: 10px;
}

/* ------------------ bottom ------------------ */
.mar-btm {
  margin-bottom: 20px;
}

.mar-btm-5 {
  margin-bottom: 5px;
}

.mar-btm-10 {
  margin-bottom: 10px;
}

.mar-btm-15 {
  margin-bottom: 15px;
}

.mar-btm-20 {
  margin-bottom: 20px;
}

.mar-btm-30 {
  margin-bottom: 30px;
}

/* ------------------ left ------------------ */
.mar-lft {
  margin-left: 20px;
}

.mar-lft-10 {
  margin-left: 10px;
}

.mar-lft-30 {
  margin-left: 30px;
}

/* ------------------ right ------------------ */
.mar-rgt {
  margin-right: 20px;
}

.mar-rgt-5 {
  margin-right: 5px;
}

.mar-rgt-10 {
  margin-right: 10px;
}

/* ------------------ other ------------------ */
.mar-no {
  margin: 0 !important;
}

.mar-all {
  margin: 20px;
}

.mar-hor {
  margin-right: 20px;
  margin-left: 20px;
}

.mar-ver {
  margin-top: 20px;
  margin-bottom: 20px;
}