@charset 'UTF-8';

/* ------------------ top ------------------ */
.pad-top-no {
  padding-top: 0 !important;
}

.pad-top {
  padding-top: 20px;
}

.pad-top-10 {
  padding-top: 10px;
}

/* ------------------ top ------------------ */
.pad-btm {
  padding-bottom: 20px;
}

.pad-btm-30 {
  padding-bottom: 30px;
}

/* ------------------ left ------------------ */
.pad-lft {
  padding-left: 20px;
}

.pad-lft-10 {
  padding-left: 10px;
}

/* ------------------ right ------------------ */
.pad-rgt {
  padding-right: 20px;
}

/* ------------------ other ------------------ */
.pad-hor {
  padding-right: 20px;
  padding-left: 20px;
}

.pad-ver {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pad-all-20 {
  padding: 20px;
}

.pad-no {
  padding: 0 !important;
}

.pad-all {
  padding: 20px;
}

.pad-all-5 {
  padding: 5px;
}